@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");

.App {
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  width: 100%;
  max-width: 450px;
  margin: auto;
  text-align: left;
  background-color: black;
  color: #fff;
}

.btnClass {
  padding: 0.5rem 0.8rem;
  margin: 1.3rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid black;
}

.btnClass:hover {
  background-color: #f5aa88;
}

.listClass {
  list-style: none;
  padding: 1rem;
  border: 1px solid #eff1f5;
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}